version: '3'

services:
  gopeed:
    container_name: gopeed
    ports:
      - "9999:9999" # HTTP port (host:container)
    image: liwei2633/gopeed
    volumes:
      - ~/gopeed/Downloads:/app/Downloads # mount download path
      #- ~/gopeed/storage:/app/storage # if you need to mount storage path, uncomment this line
    restart: unless-stopped
