<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIconFile</key>
		<string></string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSMinimumSystemVersion</key>
		<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
		<key>NSHumanReadableCopyright</key>
		<string>$(PRODUCT_COPYRIGHT)</string>
		<key>NSMainNibFile</key>
		<string>MainMenu</string>
		<key>NSPrincipalClass</key>
		<string>NSApplication</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLName</key>
				<string>gopeed</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>gopeed</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleURLName</key>
				<string>magnet</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>magnet</string>
				</array>
			</dict>
		</array>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>torrent</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>icon</string>
				<key>CFBundleTypeName</key>
				<string>BitTorrent Document</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSTypeIsPackage</key>
				<false />
				<key>LSHandlerRank</key>
				<string>Owner</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>org.bittorrent.torrent</string>
				</array>
			</dict>
		</array>
		<key>UTExportedTypeDeclarations</key>
		<array>
			<dict>
				<key>UTTypeIdentifier</key>
				<string>org.bittorrent.torrent</string>
				<key>UTTypeDescription</key>
				<string>Torrent File</string>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.data</string>
				</array>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>public.filename-extension</key>
					<array>
						<string>torrent</string>
					</array>
					<key>public.mime-type</key>
					<string>application/x-bittorrent</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>