[Desktop Entry]
Name=Gopeed
GenericName=Downloader Manager
Comment=High speed downloader that supports all platforms.
Terminal=false
Type=Application
Categories=Utility
Keywords=HTTP;Bittorrent;Downloader;