name: test

on:
  pull_request:
    branches:
      - main
    paths:
      - "bind/**"
      - "cmd/**"
      - "internal/**"
      - "pkg/**"
      - "ui/**"
      - ".github/workflows/test.yml"
      - "go.mod"
      - "go.sum"
  push:
    branches:
      - main
    paths:
      - "bind/**"
      - "cmd/**"
      - "internal/**"
      - "pkg/**"
      - "ui/**"
      - ".github/workflows/test.yml"
      - "go.mod"
      - "go.sum"

env:
  GO_VERSION: "1.21"
  FLUTTER_VERSION: "3.16.8"

jobs:
  #  lint:
  #    name: Lint
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/setup-go@v2
  #        with:
  #          go-version: '^1.19'
  #      - uses: actions/checkout@v2
  #      - name: Lint Go Code
  #        run: |
  #          export PATH=$PATH:$(go env GOPATH)/bin # temporary fix. See https://github.com/actions/setup-go/issues/14
  #          go get -u golang.org/x/lint/golint
  #          golint -set_exit_status ./...
  test:
    name: Test check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Run Unit tests.
        run: go test $(go list ./... | grep -v /cmd/ | grep -v /bind/ ) -v -covermode=count -coverprofile=coverage.txt
      - uses: codecov/codecov-action@v3
        with:
          files: ./coverage.txt
  build:
    name: Build check
    runs-on: ubuntu-latest
    #    needs: [lint, test]
    needs: [test]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
      - run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev libayatana-appindicator3-dev
      - name: Build
        run: |
          go build -tags nosqlite -ldflags="-w -s" -buildmode=c-shared -o ui/flutter/linux/bundle/lib/libgopeed.so github.com/GopeedLab/gopeed/bind/desktop
          cd ui/flutter
          flutter build linux
